<div *ngIf="!showchild"><div class="boxes">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Create A New Tour</mat-card-title>
    </mat-card-header>
    <mat-card-content >
      <form [formGroup]="newTourForm" *ngIf="!showchild">


        <label for="Tour Name">Tour Name </label><br>
        <input id="Not" type="text" formControlName="Not">
        <br>
        <label for="Number of Members"> Number Of Days </label><br>
        <input id="Nod" type="number" formControlName="Nod">
        <br>

        <label for="Number of Members"> Number Of Members </label><br>
        <input id="Nom" type="number" formControlName="Nom">
        
        <div class="redmark" *ngIf="lowmembercount"> <br>
          * Member Value Should be greater than 1 <br>
          * Day value can not be 0 <br>
          * Tripname canot be blank
        </div>



      </form>
    </mat-card-content>
    <mat-card-actions class="btn">
      <!-- <button class="fb" *ngIf="createform && !loggedIn"  mat-button class="button-24" (click)="signInWithFB()" >Login With Facebook ⓕ </button>&nbsp; -->
      <!-- <button  mat-button class="button-24" (click)="signOut()">Logout</button>&nbsp; -->
      <button  *ngIf="!showchild"  mat-button class="button-24" (click)="create()">ADD Members</button>
    </mat-card-actions>
  </mat-card>
</div>
</div>
<app-addmembers *ngIf="showchild" [formtochild]="userform"></app-addmembers>
